<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


   	<!-- ********************** Beans for Student class ******************************* -->
	
	<bean id = "Student" class = "com.Schoolpkg.Student">
	
	<!--<property name="Student_First_Name" value="test first name"></property> -->
	<!--<property name="Student_Family_name" value="test family nam"></property> -->
	<!--<property name="Student_Id" value="id00001"></property> -->
	
	 <constructor-arg 	 value = "test first name"></constructor-arg> 
	 <constructor-arg 	 value = "test family name"></constructor-arg> 
	 <constructor-arg    value = "id00001" ></constructor-arg> 	 
		</bean>
	
	
	  
   <!-- ***************************************************************************************** -->
   
 	 	<!-- Bean for Teacher class  -->
	
	<bean id = "Teacher" class = "com.Schoolpkg.Teacher">
	
	<!--<property name="Student_First_Name" 		value="test first name"></property> -->
	<!--<property name="Student_Family_name" 		value="test family nam"></property> -->
	<!--<property name="Student_Id"			 		value="id00001"></property> -->
	
	 <constructor-arg 	 value = "test teacher first name"></constructor-arg> 
	 <constructor-arg 	 value = "test teacher family name"></constructor-arg> 
	 <constructor-arg    value = "teast teacher id00002" ></constructor-arg> 

	</bean>  
 
 
 	 	<!-- Bean for  School_Subject Class  -->
	
	<bean id = "Subject" class = "com.Schoolpkg.School_Subject">
	
	<!--<property name="Student_First_Name" 		value="test first name"></property> -->
 <!--<property name="Student_Family_name" 		value="test family nam"></property> -->
	<!--<property name="Student_Family_name" 		value="test family nam"></property> -->
	<!--<property name="Student_Family_name" 		value="test family nam"></property> -->
	<!--<property name="Student_Family_name" 		value="test family nam"></property> -->
	<!--<property name="Student_Family_name" 		value="test family nam"></property> -->
	<!--<property name="Student_Id"			 		value="id00001"></property> -->
	
	 <constructor-arg 	 value = "test name"></constructor-arg> 
	 <constructor-arg 	 value = "test ID"></constructor-arg> 
	

	</bean>  
	
	
	<bean id = "Classe" class = "com.Schoolpkg.Classe" > 
	
	<constructor-arg value = "test id classe"  >  </constructor-arg>
	<constructor-arg value = "test classe Name">  </constructor-arg>
	
	
	</bean>
 
 
 
 	
	<bean id = "Student1" class = "com.Schoolpkg.Student" parent = "Student">
	
	<constructor-arg ref="Classe"></constructor-arg>
	
	</bean>
 
 
 
 
 
 
 
 
  </beans>